html{
    background-color:rgb(6, 12, 33) ;
    color: rgb(141, 144, 238); 
}
.registro{
    margin:0 auto; 
    width: 50%;
}

.datos legend{
    text-align: center;
}

label{
    color: rgb(120, 120, 235); 
    margin: 2%; 
}

input{
    background-color:  rgb(120, 120, 235); 
    margin: 1%; 
    width: 50%;
}

input placeholder {
    color: white; 
}

span{
    background-color: rgba(255, 0, 0, 0.381);
    color: white; 
    margin: 2%; 

}

button{
    margin:1%; 
    background-color:rgb(37, 37, 65) ;
    color: rgb(120, 120, 235); 
}

.error{
    background-color: red;
    color: white;
}