<form action="" class="formulario">
    <fieldset class="datos">
        <legend>Mis datos</legend>
        <div class="">
            <label for="usuario">Usuario: </label>
        </div>
        <input type="text" name="usuario"> 
        <div class="">
            <label for="contraseña">Contraseña: </label>
        </div>
        <input type="text" name="contraseña"> 
        <div class="">
            <button id="inicio-sesion">Iniciar Sesion</button>
        </div>
    </fieldset>
</form>
