
.formulario{
    margin:0 auto; 
    width: 50%;
}

.datos{
    justify-content: center;
    border-radius: 5px;
    border-color: rgb(38, 85, 216);
}

.datos legend{
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    color: #FDB731;
}

label{
    color:  #BD0034; 
    margin: 2%; 
    font-style: oblique;
    font-weight: 525;
}

input{
    background-color:#881b4854; 
    margin: 1%; 
    width: 50%;
    border-radius: 5px;
    border-color:#840037a2; 
}
input[type="date"]{
    cursor: pointer;
    border-radius: 4px;
    margin-right: 2px;
    color: white;
}

input[type="submit"]{
    background-color:#8a0c40;
    cursor: pointer;
    border-radius: 4px;
    margin: 10px;
    opacity: 0.9;
    color: white;
    width: 25%;
    margin-left: 980px;
}
::placeholder { color: white; }

span{
    background-color: rgba(255, 0, 0, 0.381);
    color: white; 
    margin: 2%; 

}

button{
    margin:1%; 
    background-color:rgb(37, 37, 65) ;
    color: rgb(120, 120, 235); 
}

.error{
    background-color: rgba(252, 8, 8, 0.493);
    color: white;
    font-size: 15px;
    width: 20%;
    text-align:center;
}