/* You can add global styles to this file, and also import other style files */
html{
    background-color:rgb(6, 12, 33) ;
    color: rgb(141, 144, 238); 
}
.navegacion{
    background-color:  rgb(37, 37, 65);
    justify-content: right;
    display: flex;
    margin: .5 rem; 
}

